Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  -modernize-macro-to-enum,
  -modernize-loop-convert,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -modernize-avoid-c-arrays,
  -modernize-use-emplace,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-raw-string-literal,
  -clang-diagnostic-c++17-extensions,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-implicit-widening-of-multiplication-result,
  -performance-no-int-to-ptr,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-container-size-empty,
  -readability-redundant-string-init,
'
