Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  -modernize-macro-to-enum,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -modernize-avoid-c-arrays,
  -modernize-use-emplace,
  -clang-diagnostic-c++17-extensions,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
'
